---
layout: default
---

<div class="posts">
  <h1>Flutter</h1>
  {% for post in site.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
 
</div>
<div class="posts">
   <h1>TryHackme</h1>
  {% for act in site._tryhackme %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ act.url }}">{{ act.title }}</a></h2>

      <div class="entry">
        {{ act.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ act.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
